@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "@fontsource/montserrat/100.css";
@import "@fontsource/montserrat/200.css";
@import "@fontsource/montserrat/300.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/800.css";
@import "@fontsource/montserrat/900.css";

body {
    @apply font-sans;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heroui-divider: 0 0% 100%; 
  --heroui-divider-opacity: 0.15; 
}

.border-divider {
  --tw-border-opacity: 1;
  border-color: hsl(var(--heroui-divider) / var(--heroui-divider-opacity, var(--tw-border-opacity)));
  border-width: 1px; 
}


@keyframes text-gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.animate-text-gradient {
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: text-gradient 3s linear infinite;
}
